*{
    margin: 0px;
    padding: 0px;
    font-family: 'Titillium Web',sans-serif;
}
div.items{
    width:80%;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    gap:30px;
}

div.card{
    border: 1px solid red;
    border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
    background-size: cover;
	background-position: center center;  
    
}