  body {
    background-color: cornsilk;
  }

  .titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .noticias-principales{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .imagen-noticia {
    text-align: center;
  }

  h2 {
    text-align: center;
  }


